:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    background-image: url('https://kaboompics.com/cache/b/9/e/d/9/b9ed9b9cb34b5dd77ef49f622e0386f00f751dce.jpeg');
    background-size: cover;
    background-position: center;
  }
  
  .registro-container {
    background-color: rgba(20, 30, 48, 0.8);
    padding: 8rem 2rem 3rem;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 600px;
  }
  
  .user-icon {
    background-color: #3498db;
    color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .form-input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 20px;
    margin: 15px 0;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .btn:hover {
    transform: scale(1.05);
  }
  
  .register-btn {
    background-color: rgba(30, 61, 117, 0.8);
    color: white;
  }
  
  .register-btn:hover {
    background-color: #27ae60;
  }
  
  .back-btn {
    background-color: rgba(30, 61, 117, 0.8);
    color: white;
  }
  
  .back-btn:hover {
    background-color: #27ae60;
  }
  
  @media (max-width: 768px) {
    .registro-container {
      padding: 8rem 1.5rem 2rem;
      border-radius: 30px;
      width: 90%;
    }
  
    .user-icon {
      width: 160px;
      height: 160px;
      font-size: 70px;
      top: -80px;
    }
  
    .btn, .form-input {
      padding: 15px;
      font-size: 18px;
    }
  }
  
  @media (max-width: 480px) {
    .registro-container {
      padding: 6rem 1rem 1.5rem;
      border-radius: 20px;
      width: 95%;
    }
  
    .user-icon {
      width: 120px;
      height: 120px;
      font-size: 50px;
      top: -60px;
    }
  
    .btn, .form-input {
      padding: 12px;
      font-size: 16px;
    }
  }