<div class="admin-container">
    <header>
      <h1>INMOBILIARIA BULTOS</h1>
      <nav>
        <a href="http://localhost:4200/admin" class="nav-item"><i class="fa-regular fa-user"></i></a>
        <a href="http://localhost:4200/renta-princ" class="nav-item"><i class="fa-solid fa-house"></i></a>
        <a href="http://localhost:4200/detalles" class="nav-item"><i class="fa-solid fa-list"></i></a>
        <a href="http://localhost:4200/principal" class="nav-item"><i class="fa-solid fa-right-from-bracket"></i></a>
      </nav>
    </header>
  
    <div class="panel-container">
      <div class="panel publicar-casa">
        <h2>Publicar Nueva Casa</h2>
        <form [formGroup]="form" (ngSubmit)="save()">
          <!-- <input type="number"formControlName="usuarioId" placeholder="Usuarioid" id="usuarioId" required> -->
          <input type="text" formControlName="direccion" placeholder="Dirección"  id="direccion" required>
          <textarea formControlName="descripcion" placeholder="Descripción" required></textarea>
          <input type="number" formControlName="precio" placeholder="Precio" required>
          <input type="text" formControlName="imagen" placeholder="URL de la imagen" required>
          <button type="submit" class="btn-publicar">Agregar</button>
          <!-- <h3>Información del Vendedor</h3>
          
          <input type="text" name="vendedorNombre" placeholder="Nombre del vendedor" required>
          <input type="tel" name="vendedorTelefono" placeholder="Teléfono del vendedor" required>
          <input type="email" name="vendedorEmail" placeholder="Email del vendedor" required>
          <input type="text"  name="vendedorExperiencia" placeholder="Experiencia del vendedor" required>
          
          <button type="submit" class="btn-publicar">Publicar Casa</button>  -->
        </form>
      </div>
  
      <div class="panel datos-usuario">
        <h2>Datos de Usuario</h2>
         <form  [formGroup]="formUser"  (ngSubmit)="actualizarUsuario()">
          
          <input type="text"  formControlName="nombre" placeholder="Nombre" required>
          <input type="email" formControlName="email" placeholder="Email" required>
          <input type="tel" formControlName="telefono" placeholder="Teléfono" required>
          
          <!-- <h3>Cambiar Contraseña</h3>
          <input type="password" name="contrasenaActual" placeholder="Contraseña actual" required>
          <input type="password"  name="nuevaContrasena" placeholder="Nueva contraseña" required>
          <input type="password"  name="confirmarContrasena" placeholder="Confirmar nueva contraseña" required> -->
          <div class="btn-group">
            <button type="submit" (click)="alertaactualizarUsuario()" class="btn-actualizar">Actualizar Datos</button>
            <button type="submit" (click)="goToCasasdeUsuario()" class="btn-actualizar">Mis casas</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>