<!-- <div class="container-fluid">
    <div class="row">
        @for (card of cards; track card.id) {
        <div class="col-sm3 col-md col-lg-2 col-xl-2 mt-3">
        </div>
        }
        @empty {
            <h1 class="text-center text-light"> Cargando... </h1>
        } 
    </div>
</div> -->

<div class="login-container">
    <div class="user-icon">
        <i class="fa-regular fa-user"></i>
    </div>
    <button class="btn" routerLink="/iniciar-sesion">Iniciar Sesión</button>
    <button class="btn" routerLink="/registro">Registrarse</button>
</div>