<div class="detalles-container">
    <header>
      <h1>INMOBILIARIA BULTOS</h1>
      <nav>
        <a href="http://localhost:4200/admin" class="nav-item"><i class="fa-regular fa-user"></i></a>
        <a href="http://localhost:4200/renta-princ" class="nav-item"><i class="fa-solid fa-house"></i></a>
        <a href="http://localhost:4200/detalles" class="nav-item"><i class="fa-solid fa-list"></i></a>
        <a href="http://localhost:4200/principal" class="nav-item"><i class="fa-solid fa-right-from-bracket"></i></a>
      </nav>
    </header>
  
    <div class="contenido-detalles">
      <div class="info-propiedad">
        <h2>Ubicación</h2>
        <p>{{ casa.direccion }}</p>
        
        <h2>Descripción</h2>
        <p>{{ casa.descripcion }}</p>
        
        <h2>Precio</h2>
        <p>$ {{ casa.precio | number }}</p>
        
        <button class="btn-rentar" (click)="toggleModal()">Información</button>
    </div>
    
    <div class="imagen-propiedad">
      <img [src]="casa.imagen" alt="Imagen de la propiedad">
    </div>
  </div>

  <!-- Modal del vendedor -->
  <div class="modal" *ngIf="mostrarModal">
    <div class="modal-content">
      <span class="close" (click)="toggleModal()">&times;</span>
      <h2>Información del Vendedor</h2>
      <p><strong>Nombre:</strong> {{ casa.Usuario.nombre }}</p>
      <p><strong>Teléfono:</strong> {{ casa.Usuario.telefono }}</p>
      <p><strong>Email:</strong> {{ casa.Usuario.email }}</p>
    </div>
  </div>
</div>